.circle {
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -47px;
  transform: translate(-50% -50%);
  margin-top: 100px;
  border: 6px dashed blue;
  border-radius: 50%;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
@media (min-width: 768px) {
  .circle {
    max-width: 150px;
    max-height: 150px;
    border: 8px dashed blue;
  }
}
